<div id="description">
	<div id="chapter2">
		<div id="chapter2-into">
			<h2>2 Background</h2>
			<p>The remainder of this Section describes the background that underlies the Brainteaser ontology. <a href="#chapter2-section1">Subsection 2.1</a> Describes the role of the ontologies, how they work and why they are so important especially in the medical domain.  <a href="#chapter2-section2">Subsection 2.2</a> Concerns RDF, the approaches actually used to define an ontology, and the serialization process. <a href="#chapter2-section3">Subsections 2.3</a> and <a href="#chapter2-section4">2.4</a>, on the other hand, details on the current state-of-the-art and related works. In particular, <a href="#chapter2-section3">subsection 2.3</a> details which other efforts have been made to model the Multiple Sclerosis and the Amyotrophic Lateral Sclerosis. Furthermore, it will describe how the proposed ontology is capable of overcoming current limitations. Finally, <a href="#chapter2-section4">section 2.4</a> contains a brief description of the main ontologies that have been exploited to build the Brainteaser ontology which grant to our ontology the required interoperability.<p>
		</div>
		<div id="chapter2-section1">
			<h3>2.1 Ontologies</h3>
			<p>The Semantic Web is an extension of the World Wide Web based on standards set by the W3C <a href="#FHH+07">[FHH+07]</a>. At its basis, the Semantic Web is a form of network of interconnected data exploiting the Web. In particular, it provides a common framework that allows data to be shared and reused across applications, enterprises, and community boundaries.</p>
			<p>While the original Web is mainly focused on the interchange of documents connected among them by link deprived of semantic, the aim of the Semantic Web is twofold: to go beyond the simple publication of documents by adding semantic to the links connecting them; and enabling computers to perform more useful tasks and support trusted interactions on the network <a href="#PMZ10">[PMZ10]</a>.
	In 2006 Tim Berners Lee coined the term Linked Data to indicate structured data interlinked with other data to become more useful through the use of query that exploit this presence of semantic on the edges <a href="#HB11">[HB11]</a>. Linked Data is based on a set of rules, outlined by Berners-Lee <a href="#BHBL11">[BHBL11]</a>:
				<ol>
					<li>Use URIs (now IRIs) as names for things.</li>
					<li>Use HTTP URIs so that people can look up those names.</li>
					<li>When someone looks up a URI, provide useful information using standards such as RDF and SPARQL.</li>
					<li>Include links to other URIs, so that they can discover more things.</li>
				</ol>
			</p>
			<p>In this context, the world “ontology” has become extremely popular since the mid nineties as a construct containing information and definitions about concepts and the relationships among them <a href="IB14">[IB14]</a>. In particular, in the domain of medicine, different resources are used alongside ontologies. These are controlled vocabularies, taxonomies, and thesauri <a href="#IB14">[IB14]</a>.</p>
			<p>A controlled vocabulary is a closed list of named subjects, which can be used for classifications. The constituents are called terms, i.e., names assigned to certain concepts. A taxonomy is an abstract structure that presents subject-based classifications that arrange terms from a controlled vocabulary into a hierarchy. The term thesaurus may refer to various subject classification structures that extend taxonomies allowing other statements about the subjects in the hierarchy. An example is the addition of associative relationships to the parent-child one.</p>
			<p>Ontologies, more specifically, are computer science constructs <a href="#Kon15">[Kon15]</a> that provide well-defined vocabularies which, in turn, allow precise and machine-readable description of knowledge about a certain domain <a href="CJB99">[CJB99]</a>. In computer science, one of the first definitions of ontology that we found is that of an  “explicit, formal specification of a shared conceptualization” <a href="Gru95">[Gru95]</a>.</p>
			<p>Independently from the formal definition of the term, there are today many artifacts called ontology that provide a series of main features, used in almost all the applications based on them <a href="HSG15">[HSG15]</a>. These are:
				<ol>
					<li>The definition of classes and relations through the use of identifiers such as the Internationalized Resource Identifier (IRI) to enable data integration across multiple databases.</li>
					<li>The definition of a domain vocabulary, a list of terms associated with classes and relations.</li>
					<li>Definitions, metadata, descriptions, and examples about classes and relations to allow domain experts to consistently understand their precise meaning.</li>
					<li>Formal definitions through the use of axioms that are considered true within the domain. In this way, background knowledge about the domain itself is provided. Reasoners can then use this information to unlock automated access to the meaning of classes and relations such as inference of new information from the data.
	Ontologies are used to respond to different needs: (1) to share a common understanding of the structure of information among people or software agents; (2) to enable the reuse of the domain knowledge; (3) to make domain assumptions explicit; (4) to separate domain knowledge from the operational knowledge; (5) to analyze the domain knowledge <a href="#NM01">[NM01]</a>.</li>
				</ol>
			</p>
			<p>In the last decade they have been pervading almost all research domains <a href="#IB14">[IB14]</a>, and, in particular, the biological and biomedical ones <a href="#">[HSG15]</a>, where multiple examples confirm their success <a href="Kon15">[Kon15]</a>.
	Ontologies are today often written using the Web Ontology Language (OWL) <a href="#GHM+08">[GHM+08]</a>, a family of knowledge representation languages for authoring ontologies characterized by formal semantics and built upon the W3C Resource Description Framework (RDF) standard.</p>
		</div>
		<div id="chapter2-section2">
			<h3>2.2 RDF, OWL, and Serialization Formats</h3>
			<p>RDF is a family of specifications for the publication of information on the Web endorsed by the W3C Consortium. In recent years, it has become the de-facto standard for the publication, access and sharing of data on the Web, since it allows for the flexible manipulation, enrichment, discovery and reuse of data across applications, enterprises, and communities <a href="#SMS+17">[SMS+17]</a>.</p>
			<p>In RDF, a resource is represented by an IRI, a Literal value or a blank node. An IRI (Internationalized Resource Identifier) is an extension of the URI (Uniform Resource Identifier) that can also contain UNICODE characters. A literal is a string representation of a certain value such as a string, a number or a date. It may be labeled with information such as the language or the datatype of the represented value. A blank node is a URI-like string which has validity only inside the considered database <a href="#PAG09">[PAG09]</a>.</p>
			<p>One RDF statement is a triple composed of a subject, a predicate and an object. Subject and predicate are IRIs, while objects can also be literals. A literal, in particular, can only be an object. A blank node can either be a subject or an object. The combination of triples, where the object of a triple becomes the subject of another triple generates a directed graph, called RDF Graph.</p>
			<p>OWL 2 is an ontology language for the Semantic Web with formally defined meaning. It is an extension and revision of the first OWL language, and it was published by the W3C Ontology Working Group in 2004. OWL 2 ontologies provide classes, properties, individuals, and data values stored in Semantic Web documents. It is intended to represent rich and complex knowledge about things, groups of things, and relations among them. Being a computational logic-based language, the knowledge expressed in OWL can be reasoned with by computer programs either to verify the consistency of that knowledge, or to make implicit knowledge explicit through inference. OWL documents, often referred simply as ontologies, can be published in the World Wide Web, and may refer to or be referred from other OWL ontologies. OWL is part of the W3C’s Semantic Web technology stack, which also includes RDF and SPARQL <a href="#HKP+09">[HKP+09]</a>.</p>
			<p>
			Today several serialization formats are available for RDF data. Among these, some of the most famous are N-Triples, Turtle, RDF/XML, and JSON-LD. We briefly describe each of these and report a small example describing the same concept  “head” (<code>uberon:000033</code>) with a label, a comment, the specification of being an owl class and sub class of “Anatomical Structure” (<code>uberon:000061</code>).
				<ul>
					<li><b>N-Triple</b> is arguably the simplest RDF format. It is a line based, plain text serialization format and subset of Turtle, easy for software to parse and generate. Each line of an N-Triple file has either the form of a comment (starting with the # symbol) or of a statement. A statement consists of four parts, separated by a whitespace. These four parts are the subject, the predicate, the object and a full stop, to indicate the end of the statement.
						<br><br><code>
							&emsp; &lthttp://purl.obolibrary.org/obo/UBERON_0000033&gt &lthttp://www.w3.org/1999/02/22-rdf-syntax-ns#type&gt &lthttp://www.w3.org/2002/07/owl#Class&gt .<br>
							<br><br>&emsp; &lthttp://purl.obolibrary.org/obo/UBERON_0000033&gt &lthttp://www.w3.org/2000/01/rdf-schema#subClassOf&gt &lthttp://purl.obolibrary.org/obo/UBERON_0000061&gt .<br>
							<br><br>&emsp; &lthttp://purl.obolibrary.org/obo/UBERON_0000033&gt &lthttp://www.w3.org/2000/01/rdf-schema#comment&gt "The head is the anterior-most division of the body [GO]."@en .<br>
							<br><br>&emsp; &lthttp://purl.obolibrary.org/obo/UBERON_0000033&gt &lthttp://www.w3.org/2000/01/rdf-schema#label&gt "head"@en ."<br>
						<br></code></li>
					<li><b>Terse RDF Triple Language (Turtle)</b> is a common data format for storing RDF triples that differs from N-Triples in that it provides ways to abbreviate the information representation by factoring out, among other things, common portions of URIs. Among the features of the Turtle language, we count: the use of @base IRI and relative IRIs, @prefix and prefixed named, predicate lists separated by “;”, object lists separated by “,”, and the token a to represent the property rdfs:type.
						<br><br><code>
							&emsp;&lthttp://purl.obolibrary.org/obo/UBERON_0000033&gt rdf:type owl:Class ;<br>
							<br><br>&emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp;&emsp;&emsp;rdfs:subClassOf &lthttp://purl.obolibrary.org/obo/UBERON_0000061&gt ;<br>
							<br><br>&emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp;&emsp;&emsp;rdfs:comment "The head is the anterior-most division of the body [GO]."@en ; <br>
							<br><br>&emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp;&emsp;&emsp;rdfs:label "head"@en .</code></li>
						<br><br>
					<li><b>RDF/XML</b> is a serialization to express an RDF graph as an XML document. To do so, nodes and predicates are represented in XML terms: element names, attribute names, element contents and attribute values.
						<br><br><code>
							&ltowl:Class rdf:about="http://purl.obolibrary.org/obo/UBERON_0000033"&gt
							<br><br>&emsp; &emsp; &emsp; &emsp; &emsp; &emsp;&ltrdfs:subClassOf rdf:resource="http://purl.obolibrary.org/obo/UBERON_0000061"/&gt
							<br><br>&emsp; &emsp; &emsp; &emsp; &emsp; &emsp;&ltrdfs:comment xml:lang="en"&gtThe head is the anterior-most division of the body [GO].&lt/rdfs:comment&gt
							<br><br>&emsp; &emsp; &emsp; &emsp; &emsp; &emsp;&ltrdfs:label xml:lang="en"&gthead&lt/rdfs:label&gt
							<br><br>&lt/owl:Class&gt

	<br><br></code></li>
					<li><b>JSON-LD</b> is a serialization of RDF in Javascript Object Notation whose synthax is designed to easily integrate into deployed systems that already use JSON, It is primarily intended to be a way to use Linked Data in Web-based programming environments and to store Linked Data in JSON-based storage engines. It is 100% compatible with JSON and thus also with the JSON parsers and libraries available today. 
						<code><br><br>{
	  <br><br>"@id" : "http://purl.obolibrary.org/obo/UBERON_0000033",
	  <br><br>"@type" : [ "http://www.w3.org/2002/07/owl#Class" ],
	  <br><br>"http://www.w3.org/2000/01/rdf-schema#comment" : [ {
	    <br><br>"@language" : "en",
	    <br><br>"@value" : "The head is the anterior-most division of the body [GO]."
	  <br><br>} ],
	  <br><br>"http://www.w3.org/2000/01/rdf-schema#label" : [ {
	    <br><br>"@language" : "en",
	    <br><br>"@value" : "head"
	  <br><br>} ],
	  <br><br>"http://www.w3.org/2000/01/rdf-schema#subClassOf" : [ {
	    <br><br>"@id" : "http://purl.obolibrary.org/obo/UBERON_0000061"
	  <br><br>} ] }<br><br>
	</code></li>
				</ul>	
			</p>
		</div>
		<div id="chapter2-section3">
			<h3>2.3 Existing Ontologies for ALS and MS</h3>
			<p>Some previous effort has been devoted to developing and exploiting ontologies related to ALS and MS. The largest part of the work has been dedicated to model Multiple sclerosis [<a href="#JCS+13">JCS+13</a>, <a href="#JCR+14">JCR+14</a>, <a href="#MGR+15">MGR+15</a>, <a href="#DLT+19">DLT+19</a>, <a href="AAA+20">AAA+20</a>], or related concepts such as the EDSS [<a href="#GSS+05">GSS+05</a>, <a href="#GSS+09">GSS+09</a>], potential lesions [<a href="#DE06">DE06</a>, <a href="#GFB+14">GFB+14</a>], or relapses [<a href="#PRP2020">PRP2020</a>], and use them to predict the progression of the disease [<a href="#PRP2020">PRP2020</a>]. With respect to ALS, the most relevant works are about the modeling of the care pathway and service provision to patients affected by ALS [<a href="#CMA+18">CMA+18</a>, <a href="#CMA+21">CMA+21</a>]. Finally, a line of work investigates the possibility of jointly modeling several diseases, either neurodegenerative [<a href="#HCD08">HCD08</a>, <a href="#CJD+12">CJD+12</a>, <a href="#JCC+13">JCC+13</a>, <a href="#GMR+19">GMR+19</a>] or rare [<a href="#SCA+20">SCA+20</a>] ones - among which authors include ALS and MS. 
	Compared to ALS, MS has received far more attention by the research community for what concerns its modeling through ontologies. We report here the major accomplishments made in this regard. In [<a href="#JCR+14">JCR+14</a>] Jensen et al. developed the Multiple Sclerosis Patient Data Ontology (MSPD) to represent data from patients affected by MS in the New York State Area. Although very similar to our objective, at the time of writing the ontology is not publicly available and does not include any pieces of information about the ALS. 
	The Multiple Sclerosis Ontology (MSO) [<a href="#MGR+15">MGR+15</a>] is one of the most comprehensive efforts made in order to model the MS using an ontology. The MSO is validated in the task of automatically annotating Electronic Medical Records and it is capable of achieving an adequate performance of 73% of F1 score. More recently, Alshamrani et al. in [<a href="#AAA+20">AAA+20</a>], even though not directly involved in the creation of an ontology, present a global overview of the efforts made to utilize ontologies to favour model-driven decision making in multiple sclerosis research.
	Several works do not model the MS in its entirety, but only some aspects of it. Our work, on the other hand, proposes a holistic approach to model Multiple Sclerosis. For the sake of completeness, we report the main works that model minor aspects of the MS. In [<a href="#GSS+05">GSS+05</a>] and later in [<a href="#GSS+09">GSS+09</a>], Gaspari et al. explore the possibility to compute the automatic EDSS (called AEDSS) exploiting an underlying ontology. They identify four main ontological classes: the rules used to infer the EDSS scores, the anatomical functional systems associated with each rule, the questions that allow to assess the degree of impairment, and the overall score. The ontology is therefore used to improve the performance of an expert system. [<a href="#DE06">DE06</a>], on the other hand, exploits an ontology to define rules that can be applied on the automatic categorization of images, to individuate lesions on the brain due to MS. Finally, Pappalardo et al [<a href="#PRP2020">PRP2020</a>] modelled the Universal Immune System Simulator (UISS), an ontology that describes the immune system activities. The authors also extend the UISS to simulate underlying MS pathogenesis and its interaction with the host immune system.
	Efforts have been made to ontologically model the care of patients affected by ALS  [<a href="#CMA+18">CMA+18</a>, <a href="#CMA+21">CMA+21</a>]. Even though the ontologies developed are rich and detailed, they model aspects which are not directly involved in our project. In particular, the focus of both work is on the quality of life and care pathway of patients affected by ALS.
	Some efforts have been devoted to model multiple neurological diseases with the intent of obtaining a general ontology. An example is the Neurological Disease Ontology (NDO) [<a href="#CJD+12">CJD+12</a>, <a href="#JCC+13">JCC+13</a>]. According to The authors, NDO can provide a set of classes to describe the neurological diseases, their symptoms and possible interventions encountered during the clinical practice. Based on such effort, in [<a href="#JCS+13">JCS+13</a>]  Jensen et al. try to adapt the NDO to the modeling of Multiple Sclerosis. Notice that, similarly to MSPD, at current time the NDO does not respect the FAIR principles, since it is neither Findable nor Accessible, thus also preventing Reusability. In [<a href="#SCA+20">SCA+20</a>] Subirats et al. aim at modeling several rare diseases, including multiple sclerosis, through an ontology, dubbed Holistic Rare Diseases Ontology (HORD). In such ontology it is possible to model also information derived from the patients’ social networks, in order to maintain unstructured data that can be used to assess their current state.</p>
		</div>
		<div id="chapter2-section4">
			<h3>2.4 Ontologies Used in the BRAINTEASER Ontology</h3>
			<p>The use of standard identifiers for classes and relations is a key component when creating ontologies to ensure data integration across multiple disconnected databases, files or web sites. The ability to use parts of ontologies to generate new ones specifically tailored for some new application or context while, at the same time, maintaining interoperability with other datasets, is essential [<a href="#HSG15">HSG15</a>]. When more ontologies are used in the process of searching for already defined entities and relations, ontology repositories can aid in finding ontologies suitable for annotating data within a specific domain. Among the main resources in the life science domain, we primarily used OntoBee [<a href="#XMRH11">XMRH11</a>], an ontology repository in which ontologies are presented as Linked Data.</p>
			<table id="table1">
				<caption><b>Table 1:</b> Table describing the main ontologies that the brainteaser ontology exploits. For each ontology, we report the prefix that is used throughout the description of the Brainteaser ontology, the URL associated with the prefix and the name of the ontology.</caption>
				<tr>
					<th>prefix</th>
					<th>url</th>
					<th>ontology</th>
				</tr>
				<tr>
					<td></td>
					<td><a href="https://www.brainteaser.health/ontology/schema/">https://www.brainteaser.health/ontology/schema/</a></td>
					<td>Brainteaser ontology (base prefix)</td>
				</tr>
				<tr>
					<td>foaf</td>
					<td><a href="http://xmlns.com/foaf/spec/">http://xmlns.com/foaf/spec/</a></td>
					<td>Friend of a Friend (FOAF) vocabulary</td>
				</tr>
				<tr>
					<td>ncit</td>
					<td><a href="http://purl.obolibrary.org/obo/NCIT_">http://purl.obolibrary.org/obo/NCIT_</a></td>
					<td>National Cancer Institute thesaurus (NCIT)</td>
				</tr>
				<tr>
					<td>ogg</td>
					<td><a href="http://purl.obolibrary.org/obo/OGG_">http://purl.obolibrary.org/obo/OGG_</a></td>
					<td>Ontology of Genes and Genomes (OGG)</td>
				</tr>
				<tr>
					<td>oboInOwl</td>
					<td><a href="http://www.geneontology.org/formats/oboInOwl#">http://www.geneontology.org/formats/oboInOwl#</a></td>
					<td>OBO in OWL</td>
				</tr>
				<tr>
					<td>uberon</td>
					<td><a href="http://purl.obolibrary.org/obo/UBERON_">http://purl.obolibrary.org/obo/UBERON_</a></td>
					<td>Uberon</td>
				</tr>
				<tr>
					<td>xsd</td>
					<td><a href="http://www.w3.org/2001/XMLSchema#">http://www.w3.org/2001/XMLSchema#</a></td>
					<td>XML Schema</td>
				</tr>
				<tr>
					<td>maxo</td>
					<td><a href="http://purl.obolibrary.org/obo/MAXO_">http://purl.obolibrary.org/obo/MAXO_</a></td>
					<td>Medical Action Ontology (MAxO)</td>
				</tr>
				<tr>
					<td>omit</td>
					<td><a href="http://purl.obolibrary.org/obo/OMIT_">http://purl.obolibrary.org/obo/OMIT_</a></td>
					<td>Ontology for MIRNA Target (OMIT)</td>
				</tr>
				<tr>
					<td>snomed</td>
					<td><a href="http://purl.bioontology.org/ontology/SNOMEDCT/">http://purl.bioontology.org/ontology/SNOMEDCT/</a></td>
					<td>SNOMED Clinical Terms (SNOMED CT)</td>
				</tr>
				<tr>
					<td>atcc</td>
					<td><a href="http://purl.bioontology.org/ontology/UATC">http://purl.bioontology.org/ontology/UATC</a></td>
					<td>Anatomical Therapeutic Chemical Classification (ATCC)</td>
				</tr>
				<tr>
					<td>umls</td>
					<td><a href="https://uts.nlm/nih.gov/uts/umls/concepts">https://uts.nlm/nih.gov/uts/umls/concepts</a></td>
					<td>Unified Medical Language System</td>
				</tr>
				<tr>
					<td>isco</td>
					<td><a href="http://data.europa.eu/esco/isco/">http://data.europa.eu/esco/isco/</a></td>
					<td>International Standard Classification of Occupations</td>
				</tr>
				<tr>
					<td>efo</td>
					<td><a href="http://www.ebi.ac.uk/efo/EFO_">http://www.ebi.ac.uk/efo/EFO_</a></td>
					<td>Experimental Factor Ontology</td>
				</tr>
			</table>
			<p>The ontologies used in this project are presented, together with the respective prefixes, in <a href="#table1">Table 1</a> . Among these ontologies, some of the most important ones are:
				<ul>
					<li><b>FOAF (Friend of a Friend) </b>[<a href="#GCB+07">GCB+07</a>]: an ontology describing people, their activities and their relations to other people and objects.</li>
					<li><b>The NCI (National Cancer Institute) Thesaurus OBO Edition </b>[<a href="#KS05">KS05</a>]: a reference terminology that includes broad coverage of the cancer domain, containing cancer related diseases, fundings and abnormalities.</li>
					<li><b>XSD (XML Schema Definition)</b>: a recommendation of the World Wide Web Consortium, specifies how to formally describe the elements in an XML document. It presents, in particular, the definition of many data types also used in RDF.</li>
					<li><b>OGG (Ontology of Genes and Genomes) </b>[<a href="#HLZ14">HLZ14</a>]: The Ontology of Genes and Genomes is a well-known ontology used to model Genes, their mutations and the genome of living organisms.</li>
					<li><b>MAXO (Medical Action Ontology) </b>[<a href="CZV+19">CZV+19</a>]: This Ontology provides classes to describe the majority of the procedures that can be carried out by medical doctors while visiting or treating the patients.</li>
					<li><b>OMIT (Ontology for MIRNA Target) </b>[<a href="#HTD+10">HTD+10</a>]: The MiRNA Target Ontology is a well-known ontology meant to develop data exchange standards in the microRNA domain. Although we do model directly aspects related to the microRNA, being a comprehensive ontology,  we exploit it to import support classes.</li>
					<li><b>ATCC (Anatomical Therapeutic Chemical Classification)</b>: The ATCC Ontology associates each ATC code with the corresponding active substance. It is used to model the pharmacological prescription assigned to the patients. The ontology has substantially a class for each active substance.</li>
					<li><b>Uberon</b>: an anatomical ontology that represents body parts, organs and tissues in a variety of animal species, with a focus on vertebrates.</li>
					<li><b>SNOMED CT</b>: SNOMED Clinical Terms is a systematically organized and computer processable collection of medical terms providing codes, terms, synonyms and definitions used in clinical documentation and reporting. It is considered one of the most comprehensive multilingual clinical healthcare terminology in the world.</li>
					<li><b>Unified Medical Language System (UMLS)</b>: is  a set of files and software that brings together many health and biomedical vocabularies and standards to enable interoperability between computer systems. It integrates and distributes key terminology, classification and coding standards, and associated resources to promote creation of more effective and interoperable biomedical information systems and services, including electronic health records. In particular we exploited the UMLS Metathesaurus, a large biomedical thesaurus, the biggest component of UMLS, that is organized by concept, or meaning. It links synonymous names from over 200 different source vocabularies.</li>
				</ul>
			</p>
			<p>In BO we also use the <b>International Classification of Diseases</b>, in its tenth edition (<b>ICD-10</b>). This is a healthcare classification system that allows more than 55.000 different codes and permits tracking of many new diagnoses and procedures. It is maintained by the World Health Organization (WHO). Also, we use the <b>International Classification of Primary Care </b>(<b>ICPC</b>) ontology, containing the OWL version of the ICPC classification method, that allows for the classification of the patient’s reason for encounter, the problem and diagnosis being managed, the primary or general health care interventions, and the ordering of the data of the primary care session in an episode of care structure</p>
		</div>
	</div>

	<div id="chapter3">
		<h2>3 Co-Design Approach</h2>
		<p>To design the BO ontology we adopted a co-design approach, strictly collaborating with the medical partners and domain experts, in order to embed their knowledge in the BO and, at the same time, to validate all the design choices. To this end, we operated in an iterative way, producing several intermediate versions of the ontology and discussing them with our domain experts.</p>
		<p>The design of the BO started by discussing with all the partners which kind of data have to be managed via the ontology and this ended-up on identifying the three categories mentioned above in <a href="#chapter2-section1">Section 1</a>: “raw” data, generated data, and evaluation campaigns data. The discussion was initiated during the kickoff meeting in January 2021 and finalized in the first plenary meeting in April 2021.</p>
		<p>At this point, the work specifically focusing on retrospective data started. The UNIPD team received simplified samples of data from the medical partners in order to start understanding their features and potential issues. We then prepared forms to elicit requirements from the medical partners and collect attributes that they deemed important to describe both ALS and MS.</p>
		<p>The requirement gathering and analysis phase ended up with a preliminary draft of the core parts of the BO and the corresponding schema. This preliminary draft of the BO was discussed face-to-face (virtually) in a dedicated meeting with medical partners in late May 2021, where we went through the overall design choices and the specific classes constituting the BO to validate them. The further feedback gathered from the domain experts led to a revision of the BO which was further discussed in another face-to-face virtual meeting in late June 2021. This additional feedback led to a further refinement of the BO which was then presented and agreed on during the overall plenary meeting in September 2021.</p>
		<p>Just after the plenary meeting, full (and anonymized) retrospective data were received from the medical partners: Pavia for MS; Lisbon, Turin and Madrid for ALS. The inspection of the full raw data allowed to further improve and refine the ontology and also to discover some issues about the instances, related to incomplete or noisy data. These updates to the BO and the solutions to address specific issues have been then discussed in one-to-one meetings with the specific medical partner during October and November 2021.</p>
		<p>Overall, all these iterations led to the development of the first version of the BRAINTEASER ontology as well as of the mappers for ingesting the retrospective data from the medical partners.</p>
	</div>

	<div id="chapter4">
	    <h2 id="chapter4-title">4. DESCRIPTION OF THE BRAINTEASER ONTOLOGY</h2>
	    <p>In the following, we describe more in detail the ontology designed to model the Multiple Sclerosis and the Lateral Amyotrophic Sclerosis according to the co-design approach defined in <a href="#chapter3">Section 3</a>. In this section we present the main components and the choices that we made, whereas the complete documentation will be uploaded with the final OWL file in an open public repository as Zenodo which enables the seamless integration with EOSC services. <a href="#section-4.1">Subsection 4.1</a> details the principles that guided the development of the ontology, while <a href="#section-4.2">Subsection 4.2</a> describes the main semantic areas and the principal classes available in each of them.</p>
	    
	    <h3 id="section-4.1">4.1 Overall design principles</h3>
	    <p>The ontological modeling proceeded bottom-up starting from the anonymized clinical reports about the four considered diseases provided by the "Instituto de medicina molecular Joao Lobo Antunes" (iMM, Portugal) and Universit&agrave; degli Studi di Torino (UNITO, Italy) for ALS, and by Fondazione Istituto Neurologico Nazionale Casimiro Mondino (MNDV-PV, Italy) for MS.</p>
	    <p>We analyzed these records and worked together with the physicians and the expert researcher in the field, following shared co-design principles, to accurately identify the classes and relations to include in the ontology. We maximized the re-use of concepts defined in already available and well-known ontologies and vocabularies, thus limiting the creation of new classes and relations to a minimum.</p>
	    <p>We represent the ontology as a graph where nodes are classes and edges are typed relationships amongst the classes. Classes (nodes) represent real-world objects such as a person, a project, a tissue or an anatomical part.</p>
	    <p>Relationships (edges) describe how the classes interact one with each other. BO is composed of 362 classes, 360 named individuals, 76 object properties, 220 data properties, and EEE annotation properties. The prefixes used in the ontologies are reported in the table above. Amongst the most used external ontologies, we count the COMPLETE with statistics.</p>
	    <p>Once released, the URLs of the ontology will be secure and permanent by using the re-direction service provided by the W3 Permanent Identifier Community Group. The service works as a switchboard connecting requests for information with the true location of the information on the Web. It can be, therefore, reconfigured to point to a new location if the old location stops working.</p>
	    
	    <h4 id="section-4.1.1">4.1 Overall design principles</h4>
	    <p>The ontology is divided into eight "semantic areas", i.e., groups of entities and relationships that pertain to different types of concepts and aspects of our domain. Each entity is therefore classified in one of the eight semantic areas. These areas are better detailed in <a href="#section-4.2">section 4.2</a>, and are:</p>
	    <ol>
	    	<li><b>Patient</b> the semantic area describing aspects of the patient, such as their status, their relatives, the corresponding disease, and clinical trials to which they are participating.</li>
	    	<li><b>Genetic Data</b> the information about the genetic mutations of a patient.</li>
	    	<li><b>Behavior</b> containing entities about the behaviour kept by the patient through time, such as smoking, physical activity, and more generic lifestyle aspects.</li>
	    	<li><b>Events</b> classes describing the possible events being registered for a patient, such as diagnosis, onset, and interventions of different nature.</li>
	    	<li><b>Contingencies</b> an area containing classes describing things that can happen to the patient during their life, such as comorbidities and traumas of different kinds.</li>
	    	<li><b>Intervention and Procedure</b> containing classes about different types of procedures that the patient may incur during their clinical history. This is one of the largest areas of the ontology, and we divided it into sub-areas to better describe them depending on the nature of the procedure.</li>
	    	<li><b>Anatomical Structure</b> composed of subclasses describing different parts of the human body.</li>
	    	<li><b>Symptoms</b> subclasses describing symptoms of different nature that may happen to the patients.</li>
	    </ol>

	    <h4 id="section-4.1.2">4.1.2 External Ontologies and Taxonomies</h4>
	    <p>Whenever possible, we re-used classes from other ontologies to represent entities and created new classes only when unavoidable. The external ontologies used for this are described in <a href="#chapter2-section4">Section 2.4</a>.</p>
	    <p>In particular, there are some cases where we imported a subset of entities from an external ontology in order to represent taxonomies of concepts and their <code>rdfs:subClassOf</code> relationships. We only imported from these taxonomies the classes that are useful to model the data necessary for the project, i.e. we never import the full taxonomies, but only subsets of them. Some of the classes that work as roots of their respective taxonomies in the Brainteaser ontology are:</p>
	    <ol>
	    	<li><b>Relative</b> (<code>ncit:C21480</code>) This class represents a generic relative of a patient, and is the root of the taxonomy containing different degrees of kinship (such as Father, Mather, Sister, etc.)</li>
	    	<li><b>Occupation</b> (<code>esco:Occupation</code>) The class representing a generic job or other type of occupation of the patient.</li>
	    	<li><b>Ethnic group</b> (<code>SNOMED:Ethnic_group</code>) Represents the ethnicity of the patient.</li>
	    	<li><b>Symptom</b> (<code>ncit:C4876</code>) The root class of the taxonomy describing the possible symptoms related to a patient.</li>
	    	<li><b>Gene</b> (<code>ogg:0000000002</code>) Root of the gene taxonomy.</li>
	    	<li><b>Anatomical Structure</b> (<code>uberon:0000061</code>) Root of the taxonomy of the human body locations where events, symptoms and traumas are located.</li>
	    	<li><b>Pharmacologic Substance</b> (<code>ncit:C1909</code>) the root of the clinical drugs that may be prescribed to patients as result of a Therapeutic Procedure or as response to a Relapse or Inflammation.</li>
	    	<li><b>Disease or Disorder</b> (<code>ncit:C2991</code>) the root of the taxonomy with the possible diseases (not only MS and ALS) that a patient, or one of their relatives, may manyfest.</li>
	    </ol>
	    <p>We relate each single concept in the BO with the respective concepts in the Unified Medical Language System (UMLS) metathesaurus with the <code>oboInOwl:equivalentClass</code> relationship. This connection allows us to retrieve all relevant information about a concept as reported in the rich and widely-used UMLS meta-thesaurus. UMLS comprehends alternative naming for the concepts, relationships with other relevant classification schemes such as the International Statistical Classification of Diseases and Related Health Problems, Tenth Revision (ICD-10) and multilingual information when available.</p>
	    <p>As an example, the "multiple sclerosis" concept is inherited from the MONDO ontology with URI <a href="http://purl.obolibrary.org/obo/MONDO_0005301">http://purl.obolibrary.org/obo/MONDO_0005301</a> and in the BO definition for this concept we also report that it is the same as <code>umls:C0026769</code>. From the UMLS identifier we can retrieve all the information about other classifications such as ICD-10 that identifies multiple sclerosis with the id <code>G35</code>. </p>

	    <h4 id="section-4.1.3">4.1.3 Named Individuals</h4>
	    <p>For the classes contained in some of these taxonomies, i.e., the ones with root in Occupation, Ethnic Group, Anatomical Structure, and Pharmacological Substance, it is the case that, when they are the range of properties, no other information needs to be registered. For instance, when registering the presence of a symptom in a particular anatomical location, it is only necessary to know the location, without any further information about it.</p>
	    <p>The consequence is that each time a new triple with an object in one of these taxonomies is created, we would be forced to create a new instance.</p>
	    <p>To avoid an explosion in the number of instances of these classes, and due to the fact that no other information about them needs to be modeled, we decided to create named individuals, one for each class in these taxonomies. These named individuals are used as objects of the corresponding object properties every time a new triple needs to be instantiated.</p>

	    <h3 id="section-4.2">4.2 Area-by-Area</h3>
	    <p>In the remainder of this section, we describe the elements characterizing each semantic area individuated in <a href="#section-4.1">section 4.1</a>. We use the bold font to indicate ontological classes, monospace font to represent their URI and italic to represent their properties. In case of uri derived from other ontologies, prefixes are defined in <a href="#table1">Table 1</a>.</p>

	    <h4 id="section-4.2.1">4.2.1 Patient</h4>
	    <p>The patient semantic area, represented in <a href="#figure3">Figure 3</a>, contains classes and relations pertaining to a patient participating in the clinical trials and general information about this patient, their relatives with diseases, their disease and the participation in a clinical trial.</p>
	    <p>Central to this area is the Patient class (<code>ncit:C16960</code>), subclass of <code>foaf:Person</code>, that presents different properties describing the Patient instance. These are: <i>dateOfDeath</i> (with range <code>xsd:gYear</code>), <i>genomeSequencing</i> (<code>xsd:string</code>), <i>educationLevel</i> (<code>rdf:langString</code>), <i>maritalStatus</i> (<code>rdf:langString</code>), <i>dextricity</i> (<code>xsd:string</code>), <i>retiredAtDiagnosis</i> (<code>xsd:string</code>), <i>menopause</i> (<code>xsd:int</code>), <i>MSInPaediatricAge</i> (<code>xsd:boolean</code>), <i>alive</i> (<code>xsd:boolean</code>).</p>
	    <p><b>Patient</b> inherits from <code>foaf:Person</code> the properties <i>birthplaceCharacteristics</i> (rural or urban areas), and <i>birthplace</i> (defined as an enumeration among village, country town, small town, middle torn, and large town). The <b>Patient</b> is further linked to two additional attributes, <i>gender</i> through the <code>foaf:gender</code> property, and <i>birthday</i>, via <code>foaf:birthday</code> property. In order to preserve the anonymity of the patients, real instances will only present the birth year, and not the birth date.</p>
	    <p><b>Patient</b> is connected through the <i>ethnicity</i> property to class Ethnic Group (<code>SNOMEDCT:Ethnic_Group</code>), representing a generic ethnic group. This class is the root of a taxonomy of ethnicities whose classes are taken from other ontologies.</p>
	    <p>To model the familial predisposition, it is necessary to register the presence of a patient's relatives that may have the studied diseases of their own. To do so, we considered the class <b>Relative</b> (<code>ncit:C21480</code>) that models a generic relative of a patient. <b>Relative</b>, in turn, is the root class of a taxonomy of kingship classifications such as <b>Parent</b>, <b>FirstDegreeRelative</b>, <b>Father</b> and <b>Mother</b> (these classes are imported directly from the <code>ncit</code> ontology). </p>
	    <p>A relative may or may not be a patient in the database. In the first case, the relative instance is connected to its corresponding patient instance through the <i>isPerson</i> property. In the other case, an instance of the class <code>foaf:Person</code> is created, and the relative instance is connected through <i>isPerson</i> to this instance. One patient or one generic person can be a relative of more than one patient, and for this reason multiple instances of relative may be instantiated, one for each degree of kinship occurring for that patient/person in the database. Each of these instances will be connected through <i>isPerson</i> to the corresponding instance of <b>Patient</b> or <code>foaf:Person</code>.</p>
	    
		<figure>
			<a href="img/patient.jpg">
				<img src="img/patient.jpg" id="figure3" alt="BRAINTEASER: patient area" style="display: block; margin-left: auto; margin-right: auto; width: 90%;">
			</a>
				<figcaption> 
	      		<p>Figure 3. Patient semantic area, including the classes Patient, Person, Relative, Clinical Trial, Clinical Trial Participation, and Disease or Disorder.</p>  
	 		</figcaption>  
		</figure>

	    <p>The class <b>Occupation</b> (<code>ESCO:Occupation</code>) represents the job of the user. It is the root class of a taxonomy of classes representing different types of jobs, and a patient instance is connected to <b>Occupation</b> through <i>hasOccupation</i>.</p>
	    <p><code>foaf:Person</code> is connected through the property <i>enrolledIn</i> to <b>Clinical Trial Participation</b> (<code>:ClinicalTrialParticipation</code>), representing the fact that a patient is participating in a clinical trial. A clinical trial instance may have a <i>startDate</i> property, an <i>endDate</i> property and an ending reason, provided by the <i>endReason</i> property.</p>
	    <p>Each instance of clinical trial participation is part of a <b>Clinical Trial</b> (<code>ncit:C71104</code>) and connected to this class through the participate property. In turn, a clinical trial pertains to a certain hospital, and therefore the property connects the class <b>Clinical Trial</b> to the class <b>Clinics and Hospitals</b> (<code>ncit:C19326</code>).</p>
	    <p>Finally, a person (thus both a patient and a relative who is not present in a trial) can have a disease. <code>foaf:Person</code> is connected to <b>Disease or Disorder</b> (<code>ncit:C2991</code>) through <i>hasDisease</i>. Also, the class <b>Clinical Trial</b> is connected to <b>Disease or Disorder</b> through <i>isAboutDisease</i> to indicate which is the disease studied in the specific trial.</p>

	    <h4 id="section-4.2.2">4.2.2 Genetic Data</h4>
	    <figure>
			<a href="img/gene.png">
				<img src="img/gene.png" id="figure4" alt="BRAINTEASER: gene area" style="display: block; margin-left: auto; margin-right: auto; width: 90%;">
			</a>
				<figcaption> 
	      		<p>Figure 4. Semantic Area containing the information about a patient's gene and their mutations.</p>  
	 		</figcaption>  
		</figure>
		<p>A <b>Patient</b> may be associated with data concerning their genetic heritage. To do so, the ontology links the <b>Patient</b>, via the property <i>hasGene</i>, to the class <b>Gene</b> (<code>ogg:0000000002</code>), as shown in <a href="#figure4">Figure 4</a>. Instances of this class can have two properties: <i>kind</i> and <i>open box</i>. The former allows to express the type of mutation present on the gene, while the latter allows to add further information via unstructured text. The <b>Gene</b> instance can be instantiated either using the <b>Gene</b> class, or one of its relevant subclasses for this specific domain: <b>SOD1</b> (<code>ogg:3000006647</code>), <b>FUS</b> (<code>ogg:3000002521</code>), <b>C9orf72</b> (<code>ogg:3000203228</code>), and <b>tardbp</b> (<code>ogg:3000023435</code>).</p>

		<h4 id="section-4.2.3">4.2.3 Behaviour</h4>
		<figure>
			<a href="img/behavior.png">
				<img src="img/behavior.png" id="figure5" alt="BRAINTEASER: behavior area" style="display: block; margin-left: auto; margin-right: auto; width: 90%;">
			</a>
				<figcaption> 
	      		<p>Figure 5. Behaviour and Lifestyle semantic area, including the subclasses Smoking, Physical Activity and Lifestyle.</p>  
	 		</figcaption>  
		</figure>
		<p>Different aspects of the behaviour of the patient during the passing of time are modeled with classes in this semantic area.</p>
		<p>As reported in <a href="#figure5">Figure 5</a>, the main class is <b>Behaviour</b> (<code>ncit:C19683</code>), presenting the properties <i>startYear</i> and <i>endYear</i> (both with range <code>xsd:gYear</code>), describing the starting and ending dates of said behaviour. Each instance of the subclasses of Behaviour therefore offers the possibility to register the time span in which such behaviour was sustained. The class <b>Event</b> is connected to Behaviour through <i>hasRegisteredBehaviour</i>. </p>
		<p>Different types of behaviours are modeled through the use of subclasses of this main class. </p>
		<p><b>Smoking</b> (<code>ncit:C154329</code>) represents the patient's habit of smoking. It presents the relations <i>packYear</i> (a quantification of lifetime tobacco exposure defined as: (number of cigarettes smoked per day) x (number of years smoked)/20. Thus, one pack-year corresponds to smoking 20 cigarettes a day for one year), and <i>dailyCigarettes</i> (the number of cigarettes smoked in one day on average). </p>
		<p>The class <b>Physical Activity</b> (<code>ncit:C17708</code>) describes the physical activity usually exerted by the patient. Its properties are <i>intensity</i> (<code>xsd:string</code>), <i>weeklyFrequence</i> (<code>xsd:integer</code>) and <i>activityType</i> (<code>xsd:string</code>).</p>
		<p>The class <b>Lifestyle</b> (<code>ncit:C16795</code>) acts as a container where to put different types of behavioral information concerning the patient. Such behaviors are modeled as properties of the Lifestyle instance, and are: <i>sunExposure</i> (with range <code>xsd:int</code>), <i>diet</i> (<code>xsd:int</code>), <i>fatigue</i> (<code>xsd:int</code>), <i>sexuality</i> (<code>rdf:langString</code>), <i>femalePeriodStartDate</i> (<code>xsd:date</code>), and <i>menopause</i> (<code>xsd:boolean</code>). </p>

		<h4 id="section-4.2.4">4.2.4 Events</h4>
		<figure>
			<a href="img/events.jpg">
				<img src="img/events.jpg" id="figure6" alt="BRAINTEASER: event area" style="display: block; margin-left: auto; margin-right: auto; width: 90%;">
			</a>
				<figcaption> 
	      		<p>Figure 6. Events Semantic Area, including the class Event and its subclasses: Protocol Event, Diagnosis, Before Onset and Onset.</p>  
	 		</figcaption>  
		</figure>
	    <p>This Events semantic area, depicted in <a href="#figure6">Figure 6</a>, contains some of the most important classes of the ontology, as one of the goals of the ontology itself is to model the events pertaining to the patient and their evolution through time.</p>
	    <p>Main class here is <b>Event</b> (<code>ncit:C25499</code>), describing a generic event that can happen to a patient in a medical environment. The Event class is characterized by the two data properties <i>endDate</i> and <i>startDate</i> (both with range <code>xsd:date</code>), describing the period in which this <b>Event</b> manifested.</p>
	    <p>Different types of Event are represented through the use of subclasses.</p>
	    <p><b>Protocol Event</b> (<code>ncit:C74589</code>) represents a planned protocol activity such as randomization and study completion, and occurrences, conditions, or incidents independent of planned study evaluations occurring during the trial (e.g., adverse events) or prior to the trial (e.g., medical history). Its subclass is <b>Patient Visit</b> (<code>ncit:C39564</code>), describing a specific type of protocol event, i.e., a visit of the patient in a hospital.</p>
	    <p>The event <b>Diagnosis</b> (ncit:C25279) represents the moment in which the patient is officially diagnosed with the disease.</p>
	    <p>The last two types of Event are the <b>Onset</b> (<code>ncit:C25279</code>) and <b>Before Onset</b> (<code>:BeforeOnset</code>). The first one represents the event in which the first symptoms are manifested for the first time to the patient. The <b>Onset</b>, in particular, may be of different types, which are represented as boolean (<code>xsd:boolean</code>) properties: <i>limbs, bulbar, axial, and generalized</i>. An onset may also present the property <i>cerebrospinalOligloconalBands</i>, which indicates, if the test has been carried out, the presence of such bands in the patient's blood flow. The onset is located in a part of the human body, and thus the Onset event is connected to the class <b>Anatomical Structure</b> (<code>uberon:0000061</code>) through the <i>site</i> property. The second one, <b>Before Onset</b>, describes an event that happened before the onset, whatever its nature may be. The property <i>howLong</i> registers how much time before the onset this event happened, and it may assume only two string values, defining an event that happened in the last five years, or before the last five years.</p>
	    <p>An Event instance, in turn, may be linked to various other classes. <b>Event</b> is linked through <i>hasPregnancy</i> to <b>Pregnancy</b>, describing the presence of a pregnancy; to <b>Trauma</b> through <i>hasTrauma</i>, describing the registration of a traumatic event happened to the patient; to <b>Symptom</b> through <i>hasSymptom</i>, describing the presence of symptoms being registered during an event, to <b>Recurrent Disease</b> through <i>hasRelapse</i>, and finally to one or more <b>Intervention or Procedure</b> that may be applied to the patient, through the <i>consist</i> property.</p>

	    <h4 id="section-4.2.5">4.2.5 Contingencies</h4>
	    <p>The Contingencies semantic area, represented in <a href="#figure7">Figure 7</a>, contains classes representing "things that may happen": occurrences to the patient that may or may not be related to the disease. They correspond to phenomena in the patient body that cannot be directly planned. We also included a pregnancy among contingencies since, even though partially plannable, it represents a change in the patient body that cannot be ascribed among the medical procedures. These contingencies are still registered during an <b>Event</b> and therefore are linked to the <b>Event</b> in which they are registered via a specific property each. </p>
	    <figure>
	        <a href="img/continegncies.jpg">
	            <img src="img/continegncies.jpg" id="figure7" alt="BRAINTEASER: contingencies area" style="display: block; margin-left: auto; margin-right: auto; width: 90%;">
	        </a>
	            <figcaption> 
	            <p>Figure 7. Contingencies semantic area, composed of classes Recurrent Disease, Trauma, Pregnancy, and Comorbidity.</p>  
	        </figcaption>  
	    </figure>
	    <p>The classes in this section are:</p>
	    <ul>
	        <li><b>Trauma</b> (<code>ncit:C3671</code>), that describes the presence of a trauma to the body of the patient. It also reports the properties <i>traumaDate</i> (<code>xsd:date</code>) and <i>traumaDescription</i> (<code>rdf:langString</code>). The <b>Trauma</b> class is connected to the <b>Anatomical Structure</b> class through the <i>traumaArea</i> object property. It is furthermore linked to the <b>Event</b> during which it is registered via the <i>hasMajorTrauma</i> property.</li>
	        <li><b>Pregnancy</b> (<code>ncit:C25742</code>) describes the presence of a pregnancy. <b>Event</b> is connected to this class through the <i>hasPregnancy</i> property. This class presents a series of properties about the pregnancy itself: <i>startDate</i> and <i>endDate</i> (<code>xsd:date</code>), <i>endEvent</i> (<code>rdf:langString</code>, it describes how the pregnancy ended), <i>complications</i> (<code>rdf:langString</code>). </li>
	        <li><b>Recurrent Disease (Relapse)</b> (<code>ncit:C38155</code>) describes a relapse that may happen to the patient. This class has, in turn, a series of properties describing the relapse, such as <i>relapseStartDate, sequela, recovery, length, etc</i>. The <b>Event</b> object is connected to the <b>Relapse</b> class through the <i>hasRelapse</i> property. <b>Relapse</b>, in turn, may be associated to a <b>Pregnancy</b> (<i>hasAssociatedPregnancy</i>), to a prescribed <b>Pharmacologic Substance</b> (<i>associatedSubstance</i>), to a requested <b>MRI</b> (<i>requiresMRI</i>), and to a possible <b>Intervention</b> (<i>relapseAssessment</i>) required to assess the presence of the relapse itself.</li>
	        <li><b>Comorbidity</b> (<code>ncit:C16457</code>) represents the presence of two or more diseases or medical conditions in a patient. The <b>Comorbidity</b> is characterized by the <i>startYear</i> and <i>endYear</i> property, together with <i>treatment</i> (<code>xsd:string</code>), reporting the prescribed treatment, and <i>severity</i>, describing the severity of the comorbidity from a set of string values (slight, moderate, serious, life risk). A <b>Comorbidity</b> is registered during an <b>Event</b>, and the two classes are connected through <i>hasRegisteredComorbidity</i>.</li>
	    </ul>

	    <h4 id="section-4.2.6">4.2.6 Intervention and Procedure</h4>
	    <p>This semantic area contains the classes describing the interventions done to a patient to understand, keep under control, and intervene on their clinical condition.</p>
	    <p>The class <b>Event</b> is connected to the main class of this area, <b>Intervention or Procedure</b> (<code>ncit:C25218</code>), through the <i>consists</i> object property. This class represents "a general activity that produces an effect, is meant to clinically assess, or is intended to alter the course of a disease in a patient" (from its NCI Thesaurus definition).</p>
	    <p>Instances of the <b>Intervention or Procedure</b> class can have two properties: <i>startDate</i> and <i>endDate</i>. Such dates allow us to register the starting and ending moment of the intervention, if this is something continued in time. Notice that, thanks to an abuse of notation, by leaving empty the <i>endDate</i>, we can also represent interventions and procedures that are atomic in time, i.e., are not distributed through more days. The ontology contains different subclasses for Intervention, and each of them supersedes a semantic sub-area depending on the nature of the procedure itself. We describe the characteristics of the main intervention and procedures in the remainder of this subsection.</p>

	    <h5 id="section-4.2.6.1">4.2.6.1 Therapeutic Procedure</h5>
	    <figure>
	        <a href="img/therapeutic.jpg">
	            <img src="img/therapeutic.jpg" id="figure8" alt="BRAINTEASER: therapeutic area" style="display: block; margin-left: auto; margin-right: auto; width: 90%;">
	        </a>
	            <figcaption> 
	            <p>Figure 8. Therapeutic Procedure semantic area, sub-area of the Intervention or Procedure area.</p>  
	        </figcaption>  
	    </figure>
	    <p>The subclass <b>Therapeutic Procedure</b> (<code>ncit:C49236</code>), depicted in <a href="#figure8">Figure 8</a>, represents the action or administration of therapeutic agents to produce an effect that is intended to alter or stop a pathologic process. </p>
	    <p>We considered three possible types of therapeutic procedures: a generic therapy (the <b>Therapeutic Procedure</b> class itself), a <b>Disease Modifying Therapy (DMT)</b> and a <b>Mechanical Ventilation (NIV)</b> (<code>ncit:C171457</code>).</p>
	    <p><b>DMT</b> presents the property <i>seriousAdversarialEvent</i> (also referred to in the documents as SAE), which indicates the occurrence of a serious adverse reaction to a specific Disease modifying therapy.</p>
	    <p>All the possible therapeutic procedures might involve the prescription or the associated usage of one or more pharmacological substances. The administration of these substances is modeled here through the use of the class <b>Administration</b> (<code>ncit:C25409</code>), characterized by properties describing the administration itself: <i>administrationRoute</i> (<code>rdf:langString</code>), <i>endReason</i> (<code>rdf:langString</code>), <i>dose</i> (<code>xsd:float</code>), <i>medicineName</i> (<code>xsd:string</code>), <i>frequency</i> (<code>rdf:langString</code>).</p>
	    <p>An <b>Administration</b> is related to the administered substance, here represented through the class <b>Pharmacological Substance</b> (<code>ncit:C1909</code>), through the object property <i>isRelated</i>. </p>
	    <p>Among the possible substances that may be administered (subclasses of <b>Pharmacological Substance</b>), the following have been identified as particularly relevant to the domain: <b>Vaccine</b> (<code>ncit:C923</code>), <b>Agent Affecting Nervous System</b> (<code>ncit:C78927</code>) (and especially its subclass <b>Riluzole</b> (<code>ncit:C47704</code>)), and <b>cortisone treatment</b> (<code>:cortisone_treatment</code>). </p>

	    <h5 id="section-4.2.6.2">4.2.6.2 Diagnostic Procedure</h5>
	    <figure>
	        <a href="img/diagnostic procedure 1.jpg">
	            <img src="img/diagnostic procedure 1.jpg" id="figure9.a" alt="BRAINTEASER: diagnostic procedure area (part 1)" style="display: block; margin-left: auto; margin-right: auto; width: 90%;">
	        </a>
	            <figcaption> 
	            <p>Figure 9.a. Part 1 of the Diagnostic Procedure semantic area, a sub-area of the Intervention or Procedure area. This figure reports the subclasses Pulmonary Function Test, Blood Test and EDSS.</p>  
	        </figcaption>  
	    </figure>
	    <p><b>Diagnostic Procedure</b> (<code>ncit:C18020</code>) is another subclass of Intervention or Procedure, and it represents any procedure or test to diagnose and assess the progression of a disease or disorder. This, in turn, presents many subclasses. Due to this, we further divided the graphical representation of this sub-area in different Figures: Figure <a href="#figure9.a">9.a</a>, <a href="#figure9.b">9.b</a> and <a href="#figure9.c">9.c</a>, to help their readability.</p>
	    <p>Starting from <a href="#figure9.a">Figure 9.a</a>, we see the <b>Pulmonary Function Test</b> (<code>ncit:C38081</code>). As the name suggests, it is used to store information about pulmonary function tests carried out on the patient. Instances of such class have several properties associated, each of which correspond to a parameter used to assess the quality of the respiratory functions of the patient (i.e., VC, FVC, etc. …). Another subclass here is the <b>Blood Test</b> (<code>ncit:C49286</code>), representing a test to measure hematopoietic components and investigate hematologic disorders. The relevant parameters assessed via a blood test are represented through the use of properties of this class.</p>
	    <p>The <b>Expanded Disability Status Scale (EDSS)</b> (<code>ncit:C98302</code>) is a subclass describing a system for quantifying the level of disability for multiple sclerosis. The EDSS is traditionally computed considering 12 different items: each of these items is represented by a property of this class with range <code>xsd:float</code>.</p>
	    <figure>
	        <a href="img/diagnostic procedure 2.jpg">
	            <img src="img/diagnostic procedure 2.jpg" id="figure9.b" alt="BRAINTEASER: diagnostic procedure area (part 2)" style="display: block; margin-left: auto; margin-right: auto; width: 90%;">
	        </a>
	            <figcaption> 
	            <p>Figure 9.b. Part 2 of the Diagnostic Procedure semantic area, a sub-area of the Intervention or Procedure area. This figure reports the subclasses Questionnaire and clinical assessment.</p>  
	        </figcaption>  
	    </figure>
	    <p>We continue with the classes belonging to this sub-area in <a href="#figure9.b">Figure 9.b</a>. The <b>Questionnaire</b> (<code>ncit:C17048</code>) class represents a questionnaire that is submitted to the patients at each visit. In turn, different types of questionnaires may be submitted, with different sets of questions.</p>
	    <p>The class <b>Clinical Assessment</b> (<code>maxo:0000487</code>) represents a measurement performed in a clinical setting using clinicians' observations and instrument data to inform patient care and research. The instances of this class may contain different fields with the data collected during the assessment itself, as can be seen in the figure.</p>
	    <figure>
	        <a href="img/diagnostic procedure 3.jpg">
	            <img src="img/diagnostic procedure 3.jpg" id="figure9.c" alt="BRAINTEASER: diagnostic procedure area (part 3)" style="display: block; margin-left: auto; margin-right: auto; width: 90%;">
	        </a>
	            <figcaption> 
	            <p>Figure 9.c. Part 3 of the Diagnostic Procedure semantic area, a sub-area of the Intervention or Procedure area. This figure reports the subclasses Evoked Potentials and Diagnostic Imaging, together with the properties connecting them to other classes of the ontology belonging to different semantic areas.</p>  
	        </figcaption>  
	    </figure>
	    <p>Finally, <a href="#figure9.c">Figure 9.c</a> reports the last classes of this sub-area. With <b>Evoked Potentials</b> (<code>omit:0006295</code>) we mean a class of tests used to measure the electrical activity in certain areas of the brain and spinal cord. Evoked potentials test and record how quickly and completely the nerve signals reach the brain. These types of tests are helpful in diagnosing such conditions as multiple sclerosis and other neurological disorders. Key properties for this type of Procedures are the <i>potentialValue</i> (a value among normal and altered), and the <i>location</i>. Electrical activity is produced by stimulation of specific sensory nerve pathways. In the ontology there are subclasses describing the different types of Evoked Potentials: <b>Visual Evoked Potentials</b> (<code>omit:0006298</code>), <b>Motor Evoked Potentials</b> (<code>omit:0019166</code>), <b>Auditory Evoked Potentials</b> (<code>omit:0006296</code>) and the <b>Somatosensory Evoked Potential</b> (<code>omit:0006297</code>).</p>
	    <p>With <b>Diagnostic Imaging</b> (<code>ncit:C16502</code>) we refer to various techniques of viewing the inside of the body to help figure out the cause of an illness or injury, and thus confirm a diagnosis. Doctors also use it to see how well a patient's body is responding to treatment for a fracture or illness. Subclasses of Diagnostic Imaging are the <b>Magnetic Resonance Imaging</b>, also known as <b>MRI</b> (<code>ncit:C16809</code>), characterized by properties describing its results, and the <b>Positron Emission Tomography</b>, also known as <b>PET</b> (<code>ncit:C17007</code>).</p>

	    <h5 id="section-4.2.6.3">4.2.6.3 Surgical Procedure</h5>
	    <figure>
	        <a href="img/surgical procedure.png">
	            <img src="img/surgical procedure.png" id="figure10" alt="BRAINTEASER: surgical procedure area" style="display: block; margin-left: auto; margin-right: auto; width: 90%;">
	        </a>
	            <figcaption> 
	            <p>Figure 10. Surgical Procedure semantic area, sub are of the Intervention or Procedure area.</p>  
	        </figcaption>  
	    </figure>
	    <p>The <b>Surgical Procedure</b> class describes a generic surgical operation performed on the patient. As seen in <a href="#figure10">Figure 10</a>, Its subclasses represented in the ontology are: <b>Percutaneous Endoscopic Gastrostomy</b> (<b>PEG</b>, <code>ncit:C10604</code>), a procedure in which a flexible feeding tube is placed through the abdominal wall and into the stomach, allowing nutritions, fluids and medications to be put directly into the stomach, thus bypassing mouth and esophagus; <b>tracheotomy</b> (or <b>tracheostomy</b>, <code>ncit:C15341</code>), an opening surgically created through the neck into the trachea to allow direct access to the breathing tube; <b>Cerebrospinal fluid examination</b> (<b>CSF Analysis</b>, <code>ncit:C173272</code>), the analysis of the cerebrospinal fluid, a clear, colorless liquid found the the brain and spinal cord, acting like a cushion against sudden impact or injury to the brain or spinal cord. This last class is characterized by the properties <i>cerebrospinalFluid</i> and <i>lymphocytes</i>, describing aspects of the test's results.</p>

	    <h4 id="section-4.2.7">4.2.7 Anatomical Structure</h4>
	    <p>This area, shown in <a href="#figure11">Figure 11</a>, contains the <b>Anatomical Structure</b> (<code>uberon:0000061</code>) class. Such class, due to its nature and function, cannot be assimilated to any other already available classes and semantic areas.</p>
	    <p>The class <b>Anatomical Structure</b> is the root of a taxonomy containing classes representing parts of the human anatomy used throughout the ontology. To avoid creating new instances of a certain location every time it is required, we define a named individual for each of the required anatomical structures: all the resources that need to be associated with one or more anatomical structures will point to the same name individual.</p>
	    <p>The <b>Anatomical Structure</b> is the range of many object properties in the Brainteaser ontology. Some examples are <i>site</i> (connecting the <b>Onset</b> to the <b>Anatomical Location</b>), <i>traumaArea</i> (connecting the class <b>Trauma</b> and indicating where it happened), <i>area</i> (connecting the class <b>Diagnostic Imaging</b>), <i>surgicalArea</i> (connecting <b>Anatomical Structure</b> to the class <b>Surgical Procedure</b>), and <i>symptomArea</i> (connecting it to the class <b>Symptom</b>).</p>
	    <figure>
	        <a href="img/anatomical_structure.png">
	            <img src="img/anatomical_structure.png" id="figure11" alt="BRAINTEASER: anatomical structure area" style="display: block; margin-left: auto; margin-right: auto; width: 90%;">
	        </a>
	            <figcaption> 
	            <p>Figure 11. Anatomical Structure Semantic Area</p>  
	        </figcaption>  
	    </figure>

	    <h4 id="section-4.2.8">4.2.8 Symptoms</h4>
	    <p>The Symptoms semantic area, shown in <a href="#image12">Figure 12</a>, contains classes describing the symptoms that may happen to a patient and be registered during an Event.</p>
	    <p>The class <b>Event</b> is connected to the main class of this area, <b>Symptom</b> (<code>ncit:C4876</code>), through the <i>hasSymptom</i> object property. The <b>Symptom</b> class, in turn, is connected to the <b>Anatomical Structure</b> class through the <i>symptomArea</i> property, allowing to specify the area associated with a specific symptom.</p>
	    <p>The resources will be rarely of type Symptom, since it is too generic to describe any real characteristic of the patient's disease course. Among symptom instances, we list here the <b>Nervous System Finding</b> (<code>ncit:C36280</code>) and its subclass, the <b>Fasciculation</b> (<code>ncit:C34606</code>) and the <b>Inflammation</b> (<code>ncit:C3137</code>). These symptoms are among the most relevant concerning the diseases modeled in this ontology. For the case of <b>Inflammation</b>, in particular, we register the <b>Pharmacologic Substance</b> being administered, through the <i>associatedSubstance</i> object property.</p>
	    <figure>
	        <a href="img/symptoms.png">
	            <img src="img/symptoms.png" id="image12" alt="BRAINTEASER: symptoms area" style="display: block; margin-left: auto; margin-right: auto; width: 90%;">
	        </a>
	            <figcaption> 
	            <p>Figure 12. Symptoms semantic area.</p>  
	        </figcaption>  
	    </figure>
	</div>

</div>