<div id="references">
	<h2 id="references-title">References</h2>
	<p id="AAA+20">[AAA+20] Alshamrani, R., Althbiti, A., Alshamrani, Y., Alkomah, F., & Ma, X. (2020). Model-Driven Decision Making in Multiple Sclerosis Research: Existing Works and Latest Trends. In Patterns, 1(8), 100121.</p>
	<p id="BHBL11">[BHBL11] C. Bizer, T. Heath, and T. Berners-Lee. Linked data: The story so far. In Semantic services, interoperability and web applications: emerging concepts, pages 205-227. IGI Global, 2011.</p>
	<p id="CJB99">[CJB99] B. Chandrasekaran, J.R. Josephson, and V.R. Benjamins. What are ontologies, and why do we need them?In IEEE Intelligent Systems and their Applications, 14(1):20-26, 1999.</p>
	<p id="CJD+12">[CJD+12] A. P. Cox , M. Jensen, W. Duncan, B. Weinstock-Guttman, K. Szigeti,A. Ruttenberg, B. Smith, A.D. Diehl (2012). Ontologies for the study of neurological disease. In Towards an Ontology of Mental Functioning (ICBO Workshop), Third International Conference on Biomedical Ontology.</p>
	<p id="CMA+18">[CMA+18] Cardoso, S., Aim&eacute;, X., Meininger, V., Grabli, D., Melo Mora, L. F., Cohen, K. B., & Charlet, J. (2018). A Modular Ontology for Modeling Service Provision in a Communication Network for Coordination of Care. In Building Continents of Knowledge in Oceans of Data: The Future of Co-Created eHealth (pp. 890-894). IOS Press.</p>
	<p id="CMA+21">[CMA+21] Cardoso, S., Meneton, P., Aim&eacute;, X., Meininger, V., Grabli, D., Guezennec, G., & Charlet, J. (2021). Use of a modular ontology and a semantic annotation tool to describe the care pathway of patients with amyotrophic lateral sclerosis in a coordination network. PloS one, 16(1), e0244604.</p>
	<p id="DE06">[DE06] De Pietro G., Esposito A.(2006) An Ontological Approach to Classify Potential Lesion in Patients with Multiple Sclerosis. [Preprint]</p>
	<p id="DLT+19">[DLT+19] Damotte, V., Liz&eacute;e, A., Tremblay, M., Agrawal, A., Khankhanian, P., Santaniello, A., Gomez, R., Lincoln, R., Tang, W., Chen, T. and Lee, N. (2019). Harnessing electronic medical records to advance research on multiple sclerosis.In Multiple Sclerosis Journal, 25(3), pp.408-418.</p>
	<p id="FHH+07">[FHH+07] L. Feigenbaum, I. Herman, T. Hongsermeier, E. Neumann, and S. Stephens. The semantic web in action. Scientific American, 297(6):90-97, 2007.</p>
	<p id="GFB+14">[GFB+14] Gibaud, B., Forestier, G., Benoit-Cattin, H., Cervenansky, F., Clarysse, P., Friboulet, D., Gaignard, A., Hugonnard, P., Lartizien, C., Liebgott, H. and Montagnat, J., (2014). OntoVIP: An ontology for the annotation of object models used for medical image simulation. Journal of biomedical informatics, 52, pp.279-292.</p>
	<p id="GHM+08">[GHM+08] Bernardo Cuenca Grau, Ian Horrocks, Boris Motik, Bijan Parsia, Peter F. Patel-Schneider, and Ulrike Sattler. OWL 2: The next step for OWL. J. Web Semant., 6(4):309-322, 2008.</p>
	<p id="GMR19">[GMR19] Gomez-Valad&eacute;s, A., Mart&iacute;nez-Tom&acute;s, R. and Rinc&oacute;n-Zamorano, M., (2019), June. Ontologies for Early Detection of the Alzheimer Disease and Other Neurodegenerative Diseases. In International Work-Conference on the Interplay Between Natural and Artificial Computation (pp. 42-50). Springer, Cham.</p>
	<p id="Gru95">[Gru95] Thomas R. Gruber. Toward principles for the design of ontologies used for knowledge sharing. International Journal of Human-Computer Studies, 43(5):907-928, 1995.</p>
	<p id="GSS+05">[GSS+05] Gaspari, M., Saletti, D., Scandellari, C. and Stecchi, S., (2005). The AEDSS Application Ontology: Enhanced Automatic Assessment of EDSS in Multiple Sclerosis. [Preprint]</p>
	<p id="GSS+09">[GSS+09] Gaspari, M., Saletti, D., Scandellari, C. and Stecchi, S., 2008. Refining an automatic EDSS scoring expert system for routine clinical use in multiple sclerosis. IEEE Transactions on Information Technology in Biomedicine, 13(4), pp.501-511.</p>
	<p id="HB11">[HB11] T. Heath and C. Bizer. Linked data: Evolving the web into a global data space. Synthesis lectures on the semantic web: theory and technology, 1(1):1-136, 2011.</p>
	<p id="HCD08">[HCD08] Hadzic, M., Chen, M. and Dillon, T.S., 2008, November. Towards the mental health ontology. In 2008 IEEE International Conference on Bioinformatics and Biomedicine (pp. 284-288). IEEE.</p>
	<p id="HKP+09">[HKP+09] P. Hitzler, M. Kr&ouml;tzsch, B. Parsia, P. F. Patel-Schneider, S. Rudolph, et al. Owl 2 web ontology language primer. W3C recommendation, 27(1):123, 2009.</p>
	<p id="HSG15">[HSG15] R. Hoehndorf, P. N. Schofield, and G. V. Gkoutos. The role of ontologies in biological and biomedical research: a functional perspective. Briefings in Bioinformatics, 16(6):1069-1080, 2015.</p>
	<p id="IB14">[IB14] M. Ivanovic and Z. Budimac. An overview of ontologies and data resources in medical domains. Expert Syst. Appl., 41(11):5158- 5166, 2014.</p>
	<p id="JCC+13">[JCC+13] Jensen, M., Cox, A.P., Chaudhry, N., Ng, M., Sule, D., Duncan, W., Ray, P., Weinstock-Guttman, B., Smith, B., Ruttenberg, A. and Szigeti, K., 2013. The neurological disease ontology. Journal of biomedical semantics, 4(1), pp.1-10.</p>
	<p id="JCR+14">[JCR+14] Jensen, M., Cox, A.P., Ray, P., Teter, B.E., Weinstock-Guttman, B., Ruttenberg, A. and Diehl, A.D., 2014. An Ontological Representation and Analysis of Patient-reported and Clinical Outcomes for Multiple Sclerosis. In ICBO (pp. 52-55).</p>
	<p id="JCS+13">[JCS+13] Jensen, M., Cox, A.P., Smith, B. and Diehl, A., 2013. Representing Disease Courses: An Application of the Neurological Disease Ontology to Multiple Sclerosis Typology. [Preprint]</p>
	<p id="Kon15">[Kon15] Bogumil M Konopka. Biomedical ontologies-a review. Biocybernetics and Biomedical Engineering, 35(2):75-86, 2015.</p>
	<p id="MGR+15">[MGR+15] Malhotra, A., G&uuml;ndel, M., Rajput, A.M., Mevissen, H.T., Saiz, A., Pastor, X., Lozano-Rubi, R., Martinez-Lapsicina, E.H., Zubizarreta, I., Mueller, B. and Kotelnikova, E., 2015. Knowledge retrieval from pubmed abstracts and electronic medical records with the multiple sclerosis ontology. PloS one, 10(2), p.e0116718.</p>
	<p id="NM01">[NM01] N. F. Noy and D. L. McGuinness. Ontology development 101: A guide to creating your first ontology, 2001. http://www.ksl.stanford.edu/people/dlm/papers/ontology101/ontology101-noy-mcguinness.html, online September 2021.</p>
	<p id="PAG09">[PAG09] J. P´erez, M. Arenas, and C. Gutierrez. Semantics and Complexity of SPARQL. ACM Trans. Database Syst., 34(3):1-45, 2009.</p>
	<p id="PMZ10">[PMZ10] J. Pound, P. Mika, and H. Zaragoza. Ad-hoc object retrieval in the web of data. In Proc. of the 19th International Conference on World Wide Web, WWW 2010, pages 771-780. ACM Press, New York, USA, 2010. </p>
	<p id="PRP+20">[PRP+20] Pappalardo, F., Russo, G., Pennisi, M., Parasiliti Palumbo, G.A., Sgroi, G., Motta, S. and Maimone, D., 2020. The potential of computational modeling to predict disease course and treatment response in patients with relapsing multiple sclerosis. Cells, 9(3), p.586.</p>
	<p id="ROC12">[ROC12] Roche, C.: Ontoterminology: How to unify terminology and ontology into a single paradigm. In: Proceedings of the Eighth International Conference on Language Resources and Evaluation, LREC 2012, Istanbul, Turkey, May 23-25, 2012. pp. 2626- 2630 (2012), http://www.lrec-conf.org/proceedings/lrec2012/summaries/567.html</p>
	<p id="RSN+16">[RSN+16] Rudnicki, R., Smith, B., Malyuta, T. and Mandrick, C.W., 2016. Best Practices of Ontology Development October 25, 2016</p>
	<p id="SCA+20">[SCA+20] Subirats, L., Conesa, J. and Armayones, M., (2020). Biomedical holistic ontology for people with rare diseases. International Journal of Environmental Research and Public Health, 17(17), p.6038.</p>
	<p id="SDD19">[SDD19] Serra, L.M., Duncan, W.D. and Diehl, A.D., 2019. An ontology for representing hematologic malignancies: the cancer cell ontology. BMC bioinformatics, 20(5), pp.231-236.</p>
	<p id="SMS+17">[SMS+17] S. Sahu, A. Mhedhbi, S. Salihoglu, J. Lin, and M. T. Ozsu.&uml; The ubiquity of large graphs and surprising challenges of graph processing. PVLDB, 11(4):420-431, 2017.</p>
	<p id="JCC+13">[JCC+13] Jensen, M., Cox, A.P., Chaudhry, N., Ng, M., Sule, D., Duncan, W., Ray, P., Weinstock-Guttman, B., Smith, B., Ruttenberg, A. and Szigeti, K., 2013. The neurological disease ontology. Journal of biomedical semantics, 4(1), pp.1-10.</p>
	<p id="GCB+07">[GCB+07] Graves, M., Constabaris, A. and Brickley, D., (2007). Foaf: Connecting people on the semantic web. Cataloging & classification quarterly, 43(3-4), pp.191-202.</p>
	<p id="KS05">[KS05] Kumar, A. and Smith, B., (2005), July. Oncology ontology in the NCI thesaurus. In Conference on Artificial Intelligence in Medicine in Europe (pp. 213-220). Springer, Berlin, Heidelberg.</p>
	<p id="HLZ+14">[HLZ+14] He, Y., Liu, Y. and Zhao, B., 2014, October. OGG: a Biological Ontology for Representing Genes and Genomes in Specific Organisms. In Proceedings of the International Conference on Biomedical Ontology (ICBO) (pp. 13-20).</p>
	<p id="HTD+10">[HTD+10] Huang, J., Tan, M., Dou, D., He, L., Townsend, C. and Hayes, P.J., (2010), August. Ontology for microRNA target prediction in human cancer. In Proceedings of the First ACM international conference on bioinformatics and computational biology (pp. 472-474).</p>
	<p id="CZV+19">[CZV+19] Carmody L. C., Zhang X. A., Vasilevsky N. A., Mungall C. J., Matentzoglu N., Robinson P. N. (2019) August. Medical Action Ontology (MAxO). In Proceedings of the International Conference on Biomedical Ontology (ICBO).</p>	
	<p id="VEZ20">[VEZ20] Vezzani, F., Di Nunzio, G. M. (2020). Methodology for the standardization of terminological resources: Design of TriMED database to support multi-register medical communication. Terminology. International Journal of Theoretical and Applied Issues in Specialized Communication, 26(2), 265-297. John Benjamins.</p>
</div>