<iframe align="center" width="100%" height ="500px" src="https://service.tib.eu/webvowl/#iri=http://brainteaser.dei.unipd.it/ontology/ontology.xml"></iframe>

ancora meglio:

<iframe align="center" width="100%" height ="500px" src="https://service.tib.eu/webvowl/#iri=http://brainteaser.dei.unipd.it/ontology/brainteaser.xml"></iframe>

In caso di sito down, il "vecchio" backup è questo: 
<iframe align="center" width="100%" height ="500px" src="http://vowl.visualdataweb.org/webvowl-old/webvowl-old.html#iri=http://brainteaser.dei.unipd.it/ontology/brainteaser.xml"></iframe>




Nell'header invece:
<dt>Visualization:</dt><dd><a href="http://vowl.visualdataweb.org/webvowl-old/webvowl-old.html#iri=http://brainteaser.dei.unipd.it/ontology/brainteaser.xml" target="_blank"><img src="https://img.shields.io/badge/Visualize_with-WebVowl-blue.svg" alt="Visualize with WebVowl" /></a></dd>



